* {
    box-sizing: border-box;
    font-family:Bradley Hand, cursive;
    position:static;
}
body{
    background-color: beige;
}
#acrdion{
    cursor:pointer;
}
h1{
    text-align: center;
}
figure{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(114, 109, 109);
    margin: auto;
    text-align: center;
    width: 500px;
    height: 30px;
    background-color:rgb(155, 183, 209);
}

figure:hover{
    width: 530px;
    height: 570px;
    background-color:rgb(155, 183, 209)"";
    transition: 1s;
}
img{
    visibility: hidden;
}
figure:hover img{
    transition-delay: 1s;
    visibility: inherit;
    width: 480px;
    height: 480px;
}
input:checked ~ figure{
    width: 530px;
    height: 570px;
    background-color:rgb(155, 183, 209)"";
    transition: 1s;
}
input:checked ~ figure img{
    transition-delay: 1s;
    visibility: inherit;
    width: 480px;
    height: 480px;
}
